<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcclaimTrove</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <h1 class="text-center">Create Poll</h1>

    </div>
    <div class="container">

   <form id="myForm" method="POST">
    {% csrf_token %}
    <!-- <select class="custom-select custom-select-lg mb-3">
        <option selected>For March 20</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select> -->
    <input class="form-control" type="text" placeholder="March 2024" readonly>
    <div class="container" id="initialFields">
        <div class="form-group">
            <label for="exampleInputEmail1">Employee Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="employee_name" aria-describedby="emailHelp"
                placeholder="Sundar Pichai">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Short Note on Employee achievement over the period</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="achievement" rows="3"
                placeholder="Wrote gemini code and pushed to production alone"></textarea>
        </div>
    </div>
    
    <div id="additionalFields"></div> <!-- Container for additional fields -->
    <button type="submit" class="btn btn-primary">Add Nominee</button>
    <button type="button" id="addFieldBtn" class="btn btn-primary">Add Additional Field</button>
</form>

<script>
    document.getElementById('addFieldBtn').addEventListener('click', function () {
        var additionalFieldsContainer = document.getElementById('additionalFields');

        // Clone the structure of the initial form group
        var initialFields = document.getElementById('initialFields');
        var newFormGroup = initialFields.cloneNode(true);

        // Update the input name attribute
        var inputElement = newFormGroup.querySelector('input');
        inputElement.name = 'employee_name';

        // Update the textarea name attribute
        var textareaElement = newFormGroup.querySelector('textarea');
        textareaElement.name = 'achievement';

        // Append the cloned form group to the container
        additionalFieldsContainer.appendChild(newFormGroup);
    });
</script>

    </div>
</body>
</html>