<!DOCTYPE html>
{% load static %}
<html lang="en-US" dir="ltr">
  <style>
    body {
      margin-top: 20px;
    }
  
    .price_plan_area {
      position: relative;
      z-index: 1;
      background-color: #f5f5ff;
    }
  
    .single_price_plan {
      position: relative;
      z-index: 1;
      border-radius: 0.5rem 0.5rem 0 0;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      margin-bottom: 50px;
      background-color: #ffffff;
      padding: 3rem 4rem;
    }
  
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single_price_plan {
        padding: 3rem;
      }
    }
  
    @media only screen and (max-width: 575px) {
      .single_price_plan {
        padding: 3rem;
      }
    }
  
    .single_price_plan::after {
      position: absolute;
      content: "";
      background-image: url("https://bootdey.com/img/half-circle-pricing.png");
      background-repeat: repeat;
      width: 100%;
      height: 17px;
      bottom: -17px;
      z-index: 1;
      left: 0;
    }
  
    .single_price_plan .title {
      text-transform: capitalize;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      margin-bottom: 2rem;
    }
  
    .single_price_plan .title span {
      color: #ffffff;
      padding: 0.2rem 0.6rem;
      font-size: 12px;
      text-transform: uppercase;
      background-color: #2ecc71;
      display: inline-block;
      margin-bottom: 0.5rem;
      border-radius: 0.25rem;
    }
  
    .single_price_plan .title h3 {
      font-size: 1.25rem;
    }
  
    .single_price_plan .title p {
      font-weight: 300;
      line-height: 1;
      font-size: 14px;
    }
  
    .single_price_plan .title .line {
      width: 80px;
      height: 4px;
      border-radius: 10px;
      background-color: #3f43fd;
    }
  
    .single_price_plan .price {
      margin-bottom: 1.5rem;
    }
  
    .single_price_plan .price h4 {
      position: relative;
      z-index: 1;
      font-size: 2.4rem;
      line-height: 1;
      margin-bottom: 0;
      color: #3f43fd;
      display: inline-block;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-color: transparent;
      background-image: -webkit-gradient(linear, left top, right top, from(#e24997), to(#2d2ed4));
      background-image: linear-gradient(90deg, #e24997, #2d2ed4);
    }
  
    .single_price_plan .description {
      position: relative;
      margin-bottom: 1.5rem;
    }
  
    .single_price_plan .description p {
      line-height: 16px;
      margin: 0;
      padding: 10px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
    }
  
    .single_price_plan .description p i {
      color: #2ecc71;
      margin-right: 0.5rem;
    }
  
    .single_price_plan .description p .lni-close {
      color: #e74c3c;
    }
  
    .single_price_plan.active,
    .single_price_plan:hover,
    .single_price_plan:focus {
      -webkit-box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
      box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
    }
  
    .single_price_plan .side-shape img {
      position: absolute;
      width: auto;
      top: 0;
      right: 0;
      z-index: -2;
    }
  
    .section-heading h3 {
      margin-bottom: 1rem;
      font-size: 3.125rem;
      letter-spacing: -1px;
    }
  
    .section-heading p {
      margin-bottom: 0;
      font-size: 1.25rem;
    }
  
    .section-heading .line {
      width: 120px;
      height: 5px;
      margin: 30px auto 0;
      border-radius: 6px;
      background: #2d2ed4;
      background: -webkit-gradient(linear, left top, right top, from(#e24997), to(#2d2ed4));
      background: linear-gradient(to right, #e24997, #2d2ed4);
    }
</style>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>AcclaimTrove</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />

    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" />

    <link href="{% static 'vendors/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/favicon.svg' %}" />
  </head>


  <body data-bs-spy="scroll" data-bs-target="#navbar" >

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top" >
      <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-body-tertiary" data-navbar-darken-on-scroll="white">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand me-4" href="{% url 'home' %}">
                <img src="{% static 'images/acclaimtrove-logoX.svg' %}" alt="AcclaimTrove Logo" loading="lazy"
                    style="margin-top: -1px;">
            </a>
    
            <!-- Toggle button -->
            <a href="{% url 'register' %}" data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-award"></i>
            </a>
            <div class="collapse navbar-collapse" id="navbarButtonsExample">
    
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Dashboard</a>
                      </li> -->
                </ul>
                <!-- Left links -->
    
                <div class="d-flex align-items-center">
                    <!-- <button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2">
                        Login
                      </button> -->
                    <a href="{% url 'register' %}" data-mdb-ripple-init="" type="button" class="btn-lg btn-primary">
                        Sign up for free
                    </a>
    
                </div>
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <script>
        // Initialization for ES Users
            import { Collapse, Ripple, initMDB } from "mdb-ui-kit";

            initMDB({ Collapse, Ripple });
    </script>
      <!-- Navbar -->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-8 py-lg-0" id="hero">

        <div class="container-xxl">
          <div class="row align-items-center row justify-content-center text-center min-vh-lg-100">
            <!-- <div class="col-lg order-lg-1 text-center"><img class="img-fluid" src="{% static 'assets/img/illustrations/hero.png' %}" alt="" /></div> -->
            <div class="mt-5 mt-lg-0">
              <h1 class="lh-sm fs-xl-12 fs-xxl-12" style="color: #0a0a0a; font-family:lato; ">Improve Employee Performance with <br> Engaging Staff Ranking Polls</h1>
              <p class="mt-4 fs-2 fs-md-4 lh-sm" style="color: #0a0a0a; font-family:lato; ">Streamline your employee recognition process with AcclaimTrove's intuitive platform.</p>
              <a href="{% url 'register' %}" class="btn-lg btn-primary mt-4" style=" font-family:lato; ">Get Started For Free</a>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-xxl-0" id="features">

        <div class="container-xxl">
          <div class="row justify-content-center text-center">
            <div class="col-lg-10 col-xl-8">
              <h1 class="display-6 font-lato">Reimagining what it means to rank employees</h1>
              <p class="fs-md-1 mt-4">Gamify employee output with AcclaimTrove's expert solution, effortlessly craft dynamic
              leaderboards and engaging employee recognition polls, revolutionizing the way talent is acknowledged and appreciated.</p>
            </div>
          </div>
          <div class="text-center">
            <img src="{% static 'assets/img/acclaim-k.svg' %}" alt="" width="80%"/>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section id="contribute">

        <div  class="container-xxl">
          <div class="row align-items-center">
            <div class="col-md-1">
            </div>
            <div class="col-md-5"><img src="{% static 'assets/img/icons/icon1.png' %}" alt="" />
              <h1 class="display-5 lh-sm my-4 font-lato">Elevate Morale through Employee Leaderboards</h1>
              <p class="fs-1">Boost team spirit with engaging employee leaderboards, fostering healthy competition and uplifting morale.
                Increase or Decrease points of employees based on their Performance
              </p>
            </div>
            <div class="col-md-6 col-xl-4 offset-xl-1">
              <img src="{% static 'assets/img/acclaim-t.png' %}" alt="" width="100%" />
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

     




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section style="padding: 50px 0;">
        <div style="max-width: 100%; margin: 0 auto;">
          <div style="display: flex; justify-content: center;">
            <img src="{% static 'assets/img/acclaim-q.svg' %}" alt="" style="max-width: 80%; height: auto;">
          </div>
        </div>
      </section>


    
      <!-- <section> close ============================-->
      <!-- ============================================-->

        <section>
        
          <div class="container-xxl">
            <div class="row align-items-center gx-1">
              <div class="col-xl-1">
              </div>
              <div class="col-xl-5">
                <h1 class="display-5 lh-sm my-4 font-lato">Vote,  Edit, Share Polls.</h1>
                <p class="fs-1">Unlock the collaborative power of your community by providing them with intuitive tools to vote on, edit, and share
                polls seamlessly. With these features at their fingertips, engagement and participation soar, fostering a vibrant and
                dynamic environment where voices are heard and ideas thrive.</p>
              </div>
              <div class="col-xl-6">
                <div class="row justify-content-center gx-4">
                  <div class="col-md-10">
                    <img src="{% static 'assets/img/s4.svg' %}" alt="" style="max-width: 100%; height: auto;">
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <!-- end of .container-->
        
        </section>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section>

        <div class="container-xxl">
          <div class="row align-items-center gx-1">
            <div class="col-xl-1">
              
            </div>
            <div class="col-xl-5">
              <h1 class="display-5 lh-sm my-4 font-lato">Generate Branded Certificates and Badges</h1>
              <p class="fs-1">Create branded certificates and badges effortlessly, adding a touch of professionalism and recognition to your team's
              achievements.</p>
            </div>
            <div class="col-xl-6">
              <div class="row justify-content-center gx-4">
                
                <div class="col-sm-12 col-md-6">
                  <img src="{% static 'assets/img/cert-a.svg' %}" alt="" />
                </div>
                <!-- <div class="col-sm-12 col-md-6 ">
                  <img src="{% static 'assets/img/badge-a.svg' %}" alt="" />
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <section class="price_plan_area section_padding_130_80" id="pricing">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
              <!-- Section Heading-->
              <div class="section-heading text-center wow fadeInUp" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <h3>Pricing</h3>
                <!-- <h3>Let's find a way together</h3> -->
                <p></p>
                <div class="line"></div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <!-- Single Price Plan Area-->

            <!-- Single Price Plan Area-->
            <div class="col-12 col-md-12 col-md-12 col-lg-4">
              <div class="single_price_plan active wow fadeInUp" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <!-- Side Shape-->
               
                <div class="title text-center align-items-center">
                  <h3>Yearly</h3>
                  <!-- <p>For Small Business Team</p> -->
                  <!-- <div class="line "></div> -->
                </div>
                <div class="price text-center">
                  <h4 class="text-center">$30</h4>
                </div>
                <div class="description">
                  <p><i class="lni lni-checkmark-circle"></i>Unlimited Badges and Certificates</p>
                  <p><i class="lni lni-checkmark-circle"></i>Unlimited Polls</p>
                  <p><i class="lni lni-checkmark-circle"></i>Branded Certificate and Badge</p>
                  <p><i class="lni lni-checkmark-circle"></i>Weekly Reminders</p>
                  <p><i class="lni lni-checkmark-circle"></i>24/7 Email Support</p>
                  <p><i class="lni lni-checkmark-circle"></i>Regular Updates and Improvements</p>
                </div>
                <div class="button text-center"><a class="btn btn-primary" href="{% url 'register' %}">Get Started</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section>
      
        <div class="container-xxl">
          <div class="row align-items-center gx-1">
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
              <h1 class="display-5 lh-sm my-4 font-lato">Testimonials</h1>
              <p class="fs-1">Explore our Testimonials section to discover firsthand accounts of our clients' experiences. Hear directly from those
              who have benefited from our services, sharing their success stories, insights, and satisfaction. Gain confidence and
              trust in our offerings through the authentic voices of our valued customers.</p>
            </div>
            <div class="col-xl-6">
              <div class="row justify-content-center gx-4">
                <div class="col-md-10">
                  <div class="card box-shadow-b p-2 p-md-3">
                    <div class="card-body flex-between-center pb-0">
                      <h5 class="mb-0">Totally Changed the Way We Recognize Performers</h5><span
                        class="badge rounded-pill bg-success p-2 fs-0"><i class="lni lni-star"></i> <i class="lni lni-star"></i> <i class="lni lni-star"></i> <i class="lni lni-star"></i> <i class="lni lni-star"></i></span>
                    </div>
                    <div class="card-body">
                      <p class="mb-0">"AcclaimTrove has truly revolutionized how we recognize and motivate our employees. The leaderboard feature allows us to
                      highlight top performers and foster healthy competition, while the customized badges add a personal touch to our
                      recognition program. Our team morale has skyrocketed since implementing AcclaimTrove!"</p>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-10">
                  <div class="card box-shadow-b p-2 p-md-3">
                    <div class="card-body flex-between-center pb-0">
                      <h5 class="mb-0">Write a how-to on Open Enterprise</h5><span class="badge rounded-pill bg-success p-2 fs-0">1
                        SHARE</span>
                    </div>
                    <div class="card-body">
                      <p class="mb-0">"I can't recommend AcclaimTrove enough! As a team lead, I've seen firsthand how the leaderboard functionality has driven
                      performance and engagement within our organization. The ability to create polls for employee recognition has been a
                      game-changer, providing a seamless way to celebrate achievements and boost morale. Thank you, AcclaimTrove, for helping
                      us elevate our company culture!"</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="card box-shadow-b p-2 p-md-3">
                    <div class="card-body flex-between-center pb-0">
                      <h5 class="mb-0">Write a how-to on Open Enterprise</h5><span class="badge rounded-pill bg-success p-2 fs-0">1
                        SHARE</span>
                    </div>
                    <div class="card-body">
                      <p class="mb-0">"Using AcclaimTrove has been a game-changer for our company. The ability to generate branded certificates and badges has
                      added a new level of professionalism to our employee recognition efforts. Plus, the intuitive platform makes it easy to
                      create and share polls, allowing us to gather feedback and insights from our team members effortlessly. AcclaimTrove has
                      exceeded our expectations!"</p>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->
      
      </section>
      <!-- ============================================-->
      <!-- <section> begin ============================-->
      
      <!-- <section> close ============================-->
      <!-- ============================================-->
        <section>
        
          <div class="container-xxl">
            <div class="row align-items-center gx-1">
              <div class="col-xl-1">
              </div>
              <div class="col-xl-5">
                <h1 class="display-5 lh-sm my-4 font-lato">Contact Us.</h1>
                <p class="fs-1">Whether you have questions, feedback, or suggestions, we're here to listen and assist, ensuring a seamless and
                supportive experience every step of the way</p>
              </div>
              <div class="col-xl-6">
                <div class="row justify-content-center gx-4">
                  <div class="col-md-10">
                    <div class="card box-shadow-b p-2 p-md-3">
                    <form id="myForm" action="{% url 'contact' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="exampleFormControlInput1">Email address</label>
                          <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                      
                        <div class="form-group">
                          <label for="exampleFormControlTextarea1">Your Message</label>
                          <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary col-12">Submit</button>
                      </form>
                      
                    </div>
                  </div>
        
                </div>
              </div>
            </div>
          </div>
          <!-- end of .container-->
        
        </section>



      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-4">

        <div class="container-xxl">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 text-sm-center text-lg-start">
              <h2 class="mb-lg-0">AcclaimTrove</h2>
            </div>
            <div class="col-lg-6 text-sm-center text-lg-end">
              <p class="mb-0"><a type="button"  data-target="#PPModal">Privacy Policy</a> - <a type="button" data-toggle="modal" data-target="#TCModal">Terms and Conditions</a> - Copyright &copy; 2024 <a href="{% url 'home' %}">AcclaimTrove</a></p>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
        <div class="modal fade" id="TCModal" tabindex="-1" role="dialog" aria-labelledby="TCModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Terms and Conditions</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p style="white-space: pre-line;">
        
                            1. Acceptance of Terms
        
                            By accessing or using the MedInsightDaily service, you agree to be bound by these Terms and
                            Conditions.
        
                            2. Content and Use
        
                            a. The content provided by MedInsightDaily is for informational purposes only and should not be
                            considered as
                            professional medical advice.
        
                            b. You may use the service for personal and non-commercial purposes.
        
                            3. User Accounts
        
                            a. To access certain features, you may be required to create a user account. You are responsible for
                            maintaining the
                            confidentiality of your account information.
        
                            b. You must provide accurate and complete information when creating your account.
        
                            4. Intellectual Property
        
                            a. The content provided by MedInsightDaily is protected by copyright and other intellectual property
                            laws.
        
                            b. You may not reproduce, distribute, or display the content without explicit permission.
        
                            5. Disclaimer of Warranty
        
                            MedInsightDaily provides the service "as is" without any warranty. We do not guarantee the accuracy
                            or completeness of
                            the information provided.
        
                            6. Limitation of Liability
        
                            MedInsightDaily and its affiliates shall not be liable for any indirect, incidental, special, or
                            consequential damages.
        
                            7. Refund Policy
        
                            We appreciate your trust in MedInsightDaily's services. Our refund policy is designed to be fair and
                            transparent. Please read the following details carefully:
        
                            Eligibility for Refund:
        
                            Refunds are only applicable for requests made within the first two weeks (14 days) after the initial
                            registration date.
                            Refund Procedure:
        
                            To request a refund, please contact our support team at medinsightdaily@gmail.com within the
                            eligible timeframe.
                            Clearly state your reasons for seeking a refund.
                            Refund Processing Time:
        
                            Once your refund request is approved, Refunds will be issued via the original payment method.
        
                            Subscription fees beyond the initial two-week period are non-refundable.
        
                            Contact Information:
        
                            For any refund-related inquiries or assistance, please reach out to our support team at
                            medinsightdaily@gmail.com.
        
                            Changes to Refund Policy:
        
                            MedInsightDaily reserves the right to amend or update this refund policy at any time. Any changes
                            will be effective immediately upon posting on our website.
        
                            By subscribing to MedInsightDaily, you acknowledge and agree to abide by these terms. We are
                            committed to providing valuable insights and appreciate your understanding.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="PPModal" tabindex="-1" role="dialog" aria-labelledby="PPModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Privacy Policy</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p style="white-space: pre-line;">
        
                            1. Information Collected
        
                            a. We collect personal information, including but not limited to, name and email address, when you
                            register for an
                            account.
        
                            b. Non-personal information may be collected automatically, such as IP address and browser type.
        
                            2. Use of Information
        
                            a. Personal information is used for account management, providing the service, and communicating
                            with users.
        
                            b. Non-personal information may be used for analytics and service improvement.
        
                            3. Third-Party Disclosure
        
                            We do not sell, trade, or otherwise transfer your information to third parties.
        
                            4. Security
        
                            We implement security measures to protect your personal information.
        
                            5. Changes to Privacy Policy
        
                            Any changes to the Privacy Policy will be posted on this page.
        
                            7. Contact Information
        
                            For questions regarding these documents, you may contact us at mezardini@gmail.com .
        
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'vendors/@popperjs/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/is/is.min.js' %}"></script>
    <script src="{% static 'vendors/swiper/swiper-bundle.min.js' %}"> </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&amp;family=Roboto:wght@400;500;600;700;900&amp;display=swap" rel="stylesheet">
  </body>

</html>